/* Navbar */
:root{
    --nav-height:12vh;
}
nav{
    height: 12vh;
}
.input-group-text{
    width: 80%;
    margin-left: 1rem;
}
.fa-magnifying-glass{
    margin-right: 1rem;
}
.dropdown-toggle{
    background-color: white;
    outline: none;
}
.fa-bell{
    color: yellow;
}
.fa-list {
    margin-left: 1rem;
}
.fa-question{
    margin:0 1rem;
    background-color: gray;
    color: white;
}
.fa-ellipsis-vertical{
    margin: 0 1rem;
}
/* Fine Navbar */
/* Sidebar */
.sidebar{
    position: fixed;
    width: 10%;
    height:calc(100% - nav);
    background-image:url("../img/sidebar-bg.png");
    background-color: blue;
    /* color: white; */
}