/* Navbar */
:root {
    --nav-height: 12vh;
}

nav {
    height: 12vh;
}

#basic-addon1 {
    width: 80%;
    margin-left: 1rem;
}

.fa-magnifying-glass {
    margin-right: 1rem;
}

.btn-secondary {
    outline: none;
    background-color: white;
}

.fa-bell {
    color: goldenrod;
}

.fa-list {
    margin-left: 1rem;
}

.fa-question {
    margin: 0 1rem;
    background-color: gray;
    color: white;
}

.fa-ellipsis-vertical {
    margin: 0 1rem;
}

.dropdown-toggle {
    border-color: white;
}

/* Fine Navbar */

/* Sidebar */
.sidebar {
    height: 88vh;
    width: 13vw;
    margin-top: 12vh;
    background-image: url("../img/sidebar-bg.png");
    background-color: rgb(5, 30, 52);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#basic-addon1 {
    border: none;
}

.column {
    padding: 2rem 2rem;
    line-height: 2rem;
}

/* Fine sidebar */

/* Prima sezione */
.first-section {
    width: 87vw;
    margin-top: 9vh;
    height: 88vh;
    margin-left: 0;
    padding-top: 1rem;
    overflow-y: auto;
}

.blu {
    background-color: rgb(27, 114, 232);
    color: white;
    padding-top: 1rem;
}

.badge {
    height: 1rem;
}

br {
    margin-left: 100%;
}

.btn-primary {
    outline: white;
}

h4 {
    margin-top: 1rem;
}

li {
    list-style: none;
}

.form-select {
    padding: 6px 12px;
}

.second-section {
    margin-top: 4rem;
    background-color: white;
}

.card {
    line-height: 3rem;
}

.title {
    font-size: 2rem;
    outline-style: auto;
}

.avatar {
    width: 1rem;
}

.badge {
    margin: 0;
}

h3 {
    color: black;
}

.h2 {
    color: white;
    font-size: 2rem;
}

/* Offcanvas */

.form-control {
    margin: 1rem;
}

#offcanvasRight {
    width: 100%;
}

#basic-addon {
    height: 2.35rem;
    margin-top: 1rem;
}

.btn-outline-light {
    border-color: rgb(5, 30, 52);
}

/* media */
@media screen and (min-width 768rem) {
    #offcanvasRight {
        width: 50%;
    }

    .fa-list {
        display: none;
    }

    .fa-question {
        display: none;
    }

    .fa-ellipsis-vertical {
        display: none;
    }

    .dropstart {
        position: relative;
    }

    .data-inizio {
        display: none;
    }
}