/* Navbar */
:root {
    --nav-height: 12vh;
}

nav {
    height: 12vh;
}

.input-group-text {
    width: 80%;
    margin-left: 1rem;
}

.fa-magnifying-glass {
    margin-right: 1rem;
}

.btn-secondary {
    outline: none;
    background-color: white;
}



.fa-bell {
    color: goldenrod;

}

.fa-list {
    margin-left: 1rem;
}

.fa-question {
    margin: 0 1rem;
    background-color: gray;
    color: white;
}

.fa-ellipsis-vertical {
    margin: 0 1rem;
}

/* Fine Navbar */
/* Sidebar */
.sidebar {
    height:auto;
    width: 13vw;
    margin-top: 12vh;
    background-image: url("../img/sidebar-bg.png");
    background-color: rgb(5, 30, 52);
    color: white;
}

.column {
    padding: 2rem 2rem;
    line-height: 2rem;
}

/* Fine sidebar */
/* Prima sezione */
.first-section {
    width: 87vw;
    background-color: rgb(27, 114, 232);
    color: white;
    margin-top: 12vh;
    height: 13vh;
    margin-left: 1px;
    padding-top: 1rem;
}

.badge {
    height: 1rem;
}

br {
    margin-left: 100%;
}

.btn-primary {
    outline: white;
}

h4 {
    margin-top: 1rem;
}


.second-section {
    margin-top: 4rem;
}
.title{
    font-size:2rem ;
    outline-style: auto;
}
.avatar{
    width: 1rem;
}
.badge{
    margin: 0;
}
h3{
    color: black;
}
.h2{
    color:white;
    font-size: 2rem;
}
.card{
    width: 100%;
}
